<div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 280px;">
    <ul class="nav nav-pills flex-column mb-auto">
        <li>
            <a href="/" class="nav-link active text-white">
                <i class="ri-shopping-cart-line"></i>
                Products
            </a>
        </li>
    </ul>
</div>